<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
          <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
            
          <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/stock_data</property> 
            
          <property name="hibernate.connection.username">jiaoyang</property> 
            
          <property name="hibernate.connection.password">Mofang123</property> 
                   
          <property name="hibernate.connection.pool.size">20</property>  
                  
          <property name="hibernate.show_sql">true</property>
          
          <property name="format_sql">true</property>
             
          <property name="jdbc.fetch_size">1000</property> 
            
          <property name="jdbc.batch_size">50</property> 
            
          <property name="jdbc.use_scrollable_resultset">false</property>  
           
          <property name="Connection.useUnicode">true</property> 
            
    	  <property name="connection.characterEncoding">utf8</property>        
          
          <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> 
		
		  <property name="hibernate.current_session_context_class">thread</property>
		
		  <property name="hbm2ddl.auto">update</property> 
		
		  <mapping class="com.neal.stock.data.model.AllStockModel"/>
		  
	</session-factory>
</hibernate-configuration>